body{
    background-position: center;
    background-size: cover;
}
.heading{
    width: 100%;
    font-size: larger;
    margin-top: 0px;
}
.heading:hover{
    font-size: large;
}
.link{
    background-color: lightpink;
    border-radius: 10px;
    width: 120px;
    float: right;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
}
canvas{
    border-radius: 10px;
    box-shadow: 7px 7px 7px grey;
}